@charset "utf-8";
$groovy: #4298B8;
// groovy-dark: #286B86;

// Add the custom color to Bulma's color map
$custom-colors: (
        'groovy': $groovy
);
@use "bulma/sass" with (
  $custom-colors: $custom-colors,
);

@import '~@creativebulma/bulma-tooltip/dist/bulma-tooltip.css';
// important bulma must be loaded before code mirror to not mess up the styles in the output editor
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

.CodeMirror {
    height: auto;
}
