<!DOCTYPE html>
<html lang="en">
<head>
    <title>Groovy Web Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
</head>

<body>
<section class="hero is-info">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <h1 class="title">
                            Groovy Web Console
                        </h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                            <span>Home</span>
                        </a>
                        <a class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-file-code"></i>
                    </span>
                            <span>Recent snippets</span>
                        </a>
                        <span class="navbar-item">
                    <a class="button is-info is-inverted">
                      <span class="icon">
                        <i class="fas fa-user"></i>
                      </span>
                      <span>Login</span>
                    </a>
                  </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body pb-0 pt-4">
        <div class="container">
            <textarea name="code" id="code" cols="120" rows="40">



            </textarea>
        </div>
        <div class="section">
            <div class="container">
                <div class="field is-grouped">
                    <div class="control select">
                        <select name="version" id="version">
                            <option value="groovy_3_0">Groovy 3.0</option>
                        </select>
                    </div>
                    <div class="control">
                        <button class="button is-white" id="execute">
                    <span class="icon is-small">
                        <i class="fas fa-play"></i>
                      </span>
                            <span>Execute</span>
                        </button>
                    </div>
                    <div class="control is-hidden">
                        <button class="button is-white" id="save">
                        <span class="icon is-small">
                            <i class="fas fa-save"></i>
                          </span>
                            <span>Save</span>
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-white" id="share">
                        <span class="icon is-small">
                            <i class="fas fa-share"></i>
                          </span>
                            <span>Share as Link</span>
                        </button>
                    </div>


                    <div class="control select ml-6">
                        <select name="astPhase" id="astPhase">
                            <option value="CONVERSION">Conversion</option>
                            <option value="SEMANTIC_ANALYSIS">Semantic Analysis</option>
                            <option value="CANONICALIZATION">Canonicalization</option>
                            <option value="INSTRUCTION_SELECTION">Instruction Selection</option>
                            <option value="CLASS_GENERATION" selected>Class Generation</option>
                        </select>
                    </div>
                    <div class="control">
                        <button class="button is-white" id="inspectAst">
                    <span class="icon is-small">
                        <i class="fas fa-search"></i>
                      </span>
                            <span>Inspect Ast</span>
                        </button>
                    </div>
                </div>
                <div class="box is-hidden">
                    <div class="control has-icons-right">
                        <input class="input" type="text" name="shareLink" id="shareLink" readonly>
                        <span class="icon is-small is-right" data-tooltip="Copied to Clipboard" id="shareLinkTooltip">
                            <i class="fas fa-copy"></i>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth mb-0">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a id="tabOutput">Output</a>
                    </li>
                    <li>
                        <a id="tabResult">Result</a>
                    </li>
                    <li>
                        <a id="tabError">Error</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="content mb-6">
                <textarea name="output" id="output"></textarea>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <h2 class="title is-2">Sharing scripts</h2>
    <div class="columns">
    <div class="column">
        <h3 class="title is-3">Directly in the URL</h3>
        <p>
            You can encode the script as Base64 (URL-safe without padding) and then, simply append it to the url via
            <code>&amp;code=&lt;code&gt;</code>.
            This is best used for shorter scripts.
        </p>
        <p>
            <a href="?code=ZGVmIHNjcmlwdCA9ICIiIlwKcHJpbnRsbiBoZWxsbyB3b3JsZAoiIiIKcHJpbnRsbiAiP2NvZGU9JHtCYXNlNjQudXJsRW5jb2Rlci53aXRob3V0UGFkZGluZygpLmVuY29kZVRvU3RyaW5nKHNjcmlwdC5ieXRlcyl9Igo">Example</a>
        </p>
        <br/>
        <p>
            For larger scripts you can also use a compressed (deflate) Base64 encoded version with via <code>&amp;codez=&lt;code&gt;</code>.
            This is also used by the groovy console.
        </p>
        <p>
            <a href="?codez=eJxtjrtuAjEQRfv5ipFFsW5cRVSsIh6pQUrKNAYPYDTY1uxsVoD49-wihLagnHtH5554LlkUT_7Pu1Yju2ssbkV79kqybrW0-q1C_gwQaI_NTmJRrNEY8wtFYlJOeCTmjF0WDtAXsLgozUX8ZQzAPD5qTNTh28fKwtC9k6jGDOu6qMcl54b8lglvgBgVZ7Onpdv29AbuL03zucuBrvXktvANTT9cK_yVhkweqB6-8SHEdKiso0fxk_utIRgPO80v8crau4F_h_92Kg">Example</a>
        </p>
    </div>
    <div class="column">
        <h3 class="title is-3">As gist</h3>
        <p>
            You can save your code on <a href="https://gist.github.com">https://gist.github.com</a> and then share by
            appending the gistId in the url<code>&amp;gist=&lt;gistid&gt;</code>.
        </p><p>
            Important: that file needs to have the <code>.groovy</code> extension, otherwise it won't be picked up.
        </p>
        <p>
            <a href="?gist=58f61cf36e112ff654041eeec8d11a98">Example</a>
        </p>
    </div>
    <div class="column">
        <h3 class="title is-3">From a repository</h3>
        <p>
            You can share a file from a github repository via its canonical url via this parameter <code>&amp;github=&lt;canonical-path-to-file&gt;</code>.
            You can get the <code>canonical-path-to-file</code> by going to the file on the github frontend, then press
            <code>y</code> now your url should include the commit hash instead of the branch name in the url,
            then omit the <code>https://github.com/</code> and copy the rest.
        </p>
        <p>
            <a href="?github=spockframework/spock/blob/6d2e6cc6475346f2fef256124e37f70514f0b98e/spock-specs/src/test/groovy/org/spockframework/docs/datadriven/v7/MathSpec.groovy">Example</a>
        </p>
    </div>
    </div>
</section>


</body>
</html>
