name: Build and Test GitHub Access

on:
  pull_request:
  merge_group:
  push:
    branches-ignore:
      - gh-pages
    paths:
      - functions/pom.xml
      - functions/github-access/**

# https://stackoverflow.com/a/72408109/16358266
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-github-access:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: test
        run: |
          pushd functions/groovy-executor
          ../../mvnw -B -V package
