name: Build Frontend

on:
  pull_request:
  merge_group:
  push:
    branches-ignore:
      - gh-pages
    paths:
      - services/frontend/**

# https://stackoverflow.com/a/72408109/16358266
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          # sync with deploy-frontend version
          node-version: '24.x'
      - run: cd services/frontend && npm ci
      - run: cd services/frontend && npm run build
      - run: cd services/frontend && npm run lint
      - run: cd services/frontend && npm run ci
