name: Deploy Groovy Executor

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - variant: 'groovy_2_5'
            java: 11
          - variant: 'groovy_3_0'
            java: 17
          - variant: 'groovy_4_0'
            java: 17
    steps:
      - uses: actions/checkout@v3
      - name: 'Set up JDK'
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: build jar
        run: |
          pushd functions/groovy-executor
          ../../mvnw -B -V package -P ${{ matrix.variant }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
          export_default_credentials: true
      - id: Deploy
        run: |
          gcloud functions deploy ${{ matrix.variant }} --entry-point gwc.GFunctionExecutor --runtime java${{ matrix.java }} --trigger-http --memory 8192MB --allow-unauthenticated --source functions/groovy-executor/target/deployment --region europe-west1 --service-account minimal-sa@gwc-experiment.iam.gserviceaccount.com --set-env-vars JAVA_OPTS="-Dgrape.root=/tmp/.groovy/grapes/"
