name: Deploy Groovy Executor

on:
  workflow_dispatch:

jobs:
  deploy-groovy-executors:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - variant: 'groovy_3_0'
            java: 17
          - variant: 'groovy_4_0'
            java: 21
          - variant: 'groovy_5_0'
            java: 21
    steps:
      - uses: actions/checkout@v5
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: build jar
        run: |
          pushd functions/groovy-executor
          ../../mvnw -B -V package -P ${{ matrix.variant }}
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - id: Deploy
        run: |
          gcloud functions deploy ${{ matrix.variant }} --entry-point gwc.GFunctionExecutor --runtime java${{ matrix.java }} --trigger-http --memory 8192MB --allow-unauthenticated --source functions/groovy-executor/target/deployment --region europe-west1 --service-account minimal-sa@gwc-experiment.iam.gserviceaccount.com
